body {
	height: 280vh;
	margin: 0;
	padding-top: 16em;
	background-color: #EEF9FF;
	overflow-x: hidden;
}

main {
	transform: translateX(10px);
}

.line-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	z-index: -500;
}

svg {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.st0 {
	fill: #846c52;
}
.st1 {
	fill: #efab64;
}
.st2 {
	fill: #b8a8b2;
}
.st3 {
	fill: #c1b3aa;
}
.st4 {
	fill: #eccbbc;
}
.st5 {
	fill: none;
	stroke: #422711;
	stroke-width: 0.75;
	stroke-miterlimit: 10;
}
.st6 {
	fill: #826f64;
}

div.text-container {
	width: 100%;
	height: 100vh;
}

section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	justify-content: center;
	height: 100vh;
	width: 20em;
	margin: 0 25% 0 auto;
}

@media (min-width: 590px) {
  .banner h2.welcome {
    margin-top: 2.8em;
  }

  footer .copyright p.legal {
    display: inline;
  }

  .search-course input,
  .sort-courses select {
    width: 315px;
    margin: 0;
  }

  .col-services .row {
    margin-bottom: 2.75em;
  }
}

@media (max-width: 767px) {
  ul.navbar-nav {
    height: auto;
  }

  .navbar-header {
    position: relative;
    top: 0px;
  }
}

@media (max-width: 980px) and (min-width: 767px) {
  main .navbar.basic ul.navbar-nav > li {
    margin-left: 15px;
  }

  .banner h4.welcome-description {
    width: 90%;
  }

  .search-course.pull-right.mlr-40 {
    width: 26em;
    display: inline-block;
    margin: 0 40px 0 40px;
  }
}

@media (min-width: 480px) {
  .search-course input[type="text"] {
    margin-bottom: 0;
  }

  .search-course button.btn {
    padding: 0 45px;
  }

  .col-services .row {
    margin-bottom: 0.75em;
  }

  .padding-hero {
    padding: 4.25em 0 1.75em;
  }

  .padding-hero-main {
    padding: 4.25em 0 1.75em;
  }

  .area-404 {
    margin-top: 0;
  }

  footer form.newsletter button.btn-submit {
    right: 1.25em;
  }

  footer h3.widget-title {
    margin-top: 0.75em;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
