body {
	height: 100vh;
	margin: 0;
	background-color: #EEF9FF;
	overflow-x: hidden;
}

main {
	position: relative;
	margin: 2em 25% 0 auto;
}

div.headline-container {
	padding: 0 5px 0 5px;
}

h2.headline {
	display: block;
	text-align: center;
	font-size: 1.125em;
	font-weight: 300;
	margin: 3em auto 0 auto;
	width: 100%;
	max-width: 42em;
}

.line-container {
	position: fixed;
	top: 1.25em;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	margin: 0 0 0 19.25%;
	z-index: -500;
}

svg {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.st0 {
	fill: #846c52;
}
.st1 {
	fill: #efab64;
}
.st2 {
	fill: #b8a8b2;
}
.st3 {
	fill: #c1b3aa;
}
.st4 {
	fill: #eccbbc;
}
.st5 {
	fill: none;
	stroke: #422711;
	stroke-width: 0.75;
	stroke-miterlimit: 10;
}
.st6 {
	fill: #826f64;
}

div.text-container {
	width: 100%;
	height: 100vh;
}

section {
	display: none;
	visibility: hidden;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: left;
	width: 20em;
}

.section-1 {
	position: absolute;
	top: 100px;
	left: 80px;
}

.section-2 {
	position: absolute;
	top: 400px;
	left: 80px;
}

.section-3 {
	position: absolute;
	top: 750px;
	left: 80px;
}

@media (min-width: 528px) {

	div.headline-container {
		padding: 0 15px 0 15px;
	}

	.line-container {
		margin: 0 0 0 19.25%;
	}

}

@media (min-width: 768px) {

	.line-container {
		margin: 1.25em 0 0 30%;
	}

	section {
		display: flex;
		visibility: visible;
	}

}

@media (min-width: 992px) {

	main {
		margin: 5em 25% 0 auto;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		width: 20em;
		margin: 0 25% 0 auto;
	}

}

@media (min-width: 1200px) {
	body {
		height: 100vh;
		padding-top: 4em;
	}

	main {
		transform: translateX(10px);
		margin: 0 25% 0 auto;
	}

	.line-container {
		top: 0;
		margin: 5em 0 0 9%;
		width: 100%;
	}

	section {
		height: 70vh;
		margin: 3em 0 0 75%;
		justify-content: center;
	}

	.section-1,
	.section-2,
	.section-3 {
		position: static;
	}
}

@media (min-width: 1648px) {

	body {
		height: 280vh;
		padding-top: 4em;
	}

	section {
		height: 100vh;
	}
}
