body {
	height: 280vh;
	margin: 0;
}

.line-container {
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

svg {
	display: inline-block;
	height: 90%;
	padding-top: 12%;
}

.st0 {
	fill: #eccbbc;
}
.st1 {
	fill: #c1b3aa;
}
.st2 {
	fill: #efab64;
}
.st3 {
	fill: #b8a8b2;
}
.st4 {
	fill: #846c52;
}
.st5 {
	fill: none;
	stroke: #422711;
	stroke-width: 0.75;
	stroke-miterlimit: 10;
}

div.text-container {
	width: 100%;
	height: 100vh;
}

section {
	height: 100vh;
	display: block;
}